html,
body {
  overflow: auto;
  color: #393e5b;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  color: #393e5b;
}

.block1 {
  background-color: transparent;
}
.block2 {
  background-color: rgba(255, 96, 83, 0.7);
  color: #393e5b;
  padding: 0px;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: transparent;
   
}

.block3 {
  padding: 0px;
  background-color: rgba(255, 169, 87, 0.7);
  color: #393e5b;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: transparent;
}

.weather-container {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 2px solid;
  border-color: #393e5b;
  padding: 30px 20px;
  border-radius: 0.25rem;
  background-color: rgba(237, 230, 203, 0.3);
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?cs=srgb&dl=pexels-brett-sayles-1431822.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: 0.6;
}

input#input.form-control {
  border-radius: 0.25rem;
}

#searchButton {
  background-color: #ff6053;
  color: #ede6cb;
  position: relative;
  left: 5px;
}
#geoLocationButton {
  background-color: #ffa957;
  color: #ede6cb;
  position: relative;
  left: 4px;
}
.weatherToday {
  margin-top: 15px;
}

.Flexbox1 ul {
  border: 1px dotted transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Flexbox1 li {
  border: 1px solid transparent;
  margin: 0em;
  padding: 0.5em;
}

.flexCurrentTemperature {
  order: 1;
}

.flexMainIcon {
  order: 2;
}

.Flexbox2 {
  border: 2px dotted green;
  margin: 0;
 margin-top: 5px;;
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items:flex-end;
  
    
}
.Flexbox2Element{
  border: 1px solid transparent;
 padding:0.1em;
 margin:0.1em;
 
}
.flex2MainWeatherInfo {
  order:1;
  flex:1 1 12em;
}


.flex2WeatherDetails {
order:2;
flex:1 1 3em;
}

.Flexbox3 ul{
  border: 1px solid transparent;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
 
  justify-content: center;
 
  

}
.Flexbox3 li{
  border: 1px solid transparent;
  padding:0.1em;
 margin:0.1em;
 text-align: center;


}

#weatherDescription {
  font-size: 25px;
  text-transform: capitalize;
}
#resultTemperature {
  font-size: 41px;
  font-weight: 400;
}

.units {
  position: relative;
  top: -18px;
  font-size: 14px;
}

#celsiusButton {
  color: #393e5b;
  text-decoration: none;
}

#fahrenheitButton {
  color: #393e5b;
  text-decoration: none;
}

//.weatherDetails {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.timeslot p {
  margin: 0px;
  font-size: 0.8rem;
}

.timeslot {
  border-radius: 5%;
  border-style: solid;
  border-color: transparent;
  margin: 0px;
}
.mainWeatherIcon {
  color: #ede6cb;
  font-size: 3em;
}

.weather-icon {
  color: #ede6cb;
  padding: 5px 0px;
  font-size: 1.5em;
}
